<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="authentication" value="client_id@ofscinstance:client_secret"/>
		<add key="input_file" value="ruta_archivo_lectura"/>
		<add key="output_file" value="ruta_{0}_archivo_escritura.csv"/>
		<add key="endpoint_ofsc_act_inv" value="https://{ofsc_instance}/rest/ofscCore/v1/activities/{0}/customerInventories"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>